.logo
{
    width: 40px;
}
.user-li
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right: 22px;
    text-decoration: none;
    color: black;
}
.nav-item
{
    margin-right: 10px;
}
.search
{
    display: flex;
    /* border: 1px solid rgb(173, 173, 173); */
    height: 30px;
    border-radius: 3px;
    align-items: center;
    background-color: #eaeaea;
}
.search input
{
    background-color: #eaeaea;
    border-radius: 3px;
    width: 30rem;
    outline: none;
    border: none;
}
/* home */
.items
{
    margin: auto;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Item css */
.item
{
    display: flex;
    flex-direction: column;
    width: 13rem;
    margin: .5rem;
}
.img
{
    width: 12rem;
    height: 16rem;
}
.item-image
{
    /* width: 12rem; */
    object-fit: cover;
}
.wishlist-bag-item
{
    margin-right: 1rem;
}
.wishlist-bag-item:hover
{
    transform: scale(1.5);
    transition: all 100ms;
}
.wishlist-bag-item:active
{
    transform: scale(1);
    transition: all 100ms;
    color: red;
}
.rating
{
    background-color: rgba(255, 255, 255, 0.625);
    bottom: 2rem;
    left: 1rem;
    position: relative;
    width: 6rem;
    border-radius: 2px;
}
.product-brand
{
    padding: 0px 15px;
    height: 100px;
    width: 12rem;
    /* box-shadow: 2px 2px 0px 0px grey; */
}
.product-brand:hover
{
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 16px -10px grey;
}
.brand
{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}
.product
{
    font-size: 14px;
    font-weight: 200;
    margin: 1px 0px 0px 0px;
}
.price
{
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 0px;
    justify-content: space-between;
    width: 11rem;
}
.price h4
{
    font-size: 14px;
    font-weight: 400;
    display: flex;
}
.price h3
{
    font-size: 12px;
    font-weight: 200;
    text-decoration: line-through;
}
.price h2
{
    color: red;
    font-size: 12px;
    font-weight: 200;
}

/* bag */
.bag
{
    width: 915px;
    margin: 3rem auto;
    padding: 5px;
}
.itemcard
{
    width: 31.4rem;
    display: flex;
}
.bagItemImg
{
    width: 6rem;
}
.bagItemDetails
{
    width: 23rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* price details css */
.price-details
{
    /* position: relative; */
    /* float: right; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 19rem;
    margin: 20px;
    margin-left: .25rem;
    padding: 10px;
}
.price-details h4
{
    font-size: 14px;
    font-weight: 300;
    height: 15px;
    margin-bottom: 15px;
}
.price-details h3
{
    color: gray;
    font-size: 10px;
    font-weight: 300;
}
.price-details button
{
    color: white;
    background-color: rgb(255, 63, 108);
    font-size: 14px;
    border: none;
    font-weight: 300;
}